<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily report homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <h2>To write the report follow the link below</h2>
        <a class="authorize-link" href="/auth/discord">Autrorize with Discord</a>
    </div>
</body>
</html>